@tailwind base;
@tailwind components;
@tailwind utilities;

* {    
  /* css styles for every element */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 2px solid red; */
}
::-webkit-scrollbar{
  display: none;
}

:root {
  --foreground-rgb: 33,37,32,255;
  --background-start-rgb: 0 , 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* gradient background schema for darkmode -  */
 
@media (prefers-color-scheme: dark) { 
  :root {
    --foreground-rgb: 255 , 255 , 255;
    --background-start-rgb: 33,37,32,255;
    --background-end-rgb: 33,37,32,255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-gradient{
  @apply bg-gradient-to-b from-blue-500 to-white bg-clip-text text-transparent;
}